:root{
    --dashboard-font: 'Helvetica';
    --dashboard-font-500: 'Helvetica Medium';
    --dashboard-font-bold: 'Helvetica Bold';
    --dashboard-dark-blue-color: #1E2A3A;
    --dashboard-ligh-blue-color: #4A6FA5;
    --dashboard-light-grey-color: #C7D0DB;
    --dashboard-soft-white-color: #F5F7FA;
    --dashboard-dark-grey-color: #2E3440;
    
}